/* write your override styles here */
/*SOLVED tag-1 0110*/
#wall .tag-1 {
  display: none;
}

/*SOLVED tag-2 0201*/
body #wall #tag-2 {
  display: none;
}

/*SOLVED tag-3*/
body #wall #tag-3 .slick-wicked {
  display: none;
}

/*SOLVED tag-4 0210*/
#wall .parent #tag-4 {
  display: none;
}


/*FIX tag-5* 0221/
body #wall .parent #tag-5 .slick {
  display_none;
}

/*FIX tag-6*/
body #wall .parent #tag-6 {
  display: none;
}

/*FIX tag-7*/
body #wall .parent #tag-7 .slick {
   display: none;
}
